@font-face {
  font-family: 'Metropolis';
  src: url('./assets/fonts/metropolis/Metropolis-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Metropolis-Medium';
  src: url('./assets/fonts/metropolis/Metropolis-Medium.otf') format('truetype');
}

@font-face {
  font-family: 'Metropolis-SemiBold';
  src: url('./assets/fonts/metropolis/Metropolis-SemiBold.otf') format('truetype');
}

@font-face {
  font-family: 'Metropolis-Bold';
  src: url('./assets/fonts/metropolis/Metropolis-Bold.otf') format('truetype');
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Metropolis';
  background-color: white;
}


/* LINK COMPONENT BUILT IN REACT ROUTER DOM */

.anchor {
  text-decoration: none;
}


/* ICONS */